@bg: #0f272e;
@dc: #40494c;
@tc: #013442;

body{
	font-family: 'Open Sans', sans-serif;
	background: white;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	li {
		display: inline;
		padding: 1em;
	}
}

h2 {
	text-align: center;
}

div {
	padding-bottom: 2em;
}

.btm-border {
	border-bottom: solid 1px black;
}

header{
	padding-bottom: 2em;
	color: black;
	text-align: center;
	display: block;
	margin: 0 8% 0 8%;
}

.about{
	margin: 0 8% 0 8%;
}

.resume {
	margin: 0 8% 0 8%;
}

.contact {
	margin: 0 8% 0 8%;
}

.footer {
	p {
		margin: 0 50% 0 50%;
	}
}